node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
.git
.gitignore
.env
.env.test
.DS_Store
*.log
.vscode
.idea
coverage
dist
client/dist
client/node_modules
server/node_modules
README.md
.github
preview.gif
